h1 {
    color: #444;
    margin-bottom: 20px;
    font-size: 1.8rem;
    text-align: center;
}

/* Estilização do formulário */
form {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Largura máxima do formulário */
    display: flex;
    flex-direction: column;
}

/* Estilização dos rótulos */
form label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #555;
}

/* Estilização dos inputs */
form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
    color: #333;
}

form input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
}

/* Estilização do botão */
form button[type="submit"] {
    background-color: #FFCC00;
    color: #000000;
    border: none;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
    background-color: #ffcc008b;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 16px;
    color: #000000;
    background-color: #FFCC00;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    transform: scale(1.03);
    transition: 0.5s;
}