body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 50vw;
}

nav {
    background-color: #0E0E0E;
    overflow: hidden;
    padding: 20px;
}

nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav a:hover {
    color: #FFCC00;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;            
    height: 50vh;
    gap: 0.2rem;
    padding: 2rem;
}

main h1 {
    color: #FFCC00;
    font-size: 5rem;
    margin: 0;
}

main p {
    color: #666;
    font-size: 2rem;
}


footer {
    background-color: #0e0e0e;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
