nav {
    position: fixed;
    background-color: #0E0E0E;
    overflow: hidden;
    padding: 20px;
    top: 0;
    width: 100%;
}

nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav a:hover {
    color: #FFCC00;
}